@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300;1,700&display=swap');
 
@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}
